.root{
	-fx-background-image:url("StatsImages/NintendoBackground.jpg");
}

#UserStats{
	-fx-background-image:url("StatsImages/UserStatsWhite.png");
	-fx-background-size: 100% 100%;
}

#WeeklyTasks{
	-fx-background-image:url("StatsImages/WeeklyTasks.png");
	-fx-background-size: 100% 100%;
}

#MonthlyTasks{
	-fx-background-image:url("StatsImages/MonthlyTasks.png");
	-fx-background-size: 100% 100%;
}

#CurrentTasks{
	-fx-background-image:url("StatsImages/CurrentTasks.png");
	-fx-background-size: 100% 100%;
}

#Points{
	-fx-background-image:url("StatsImages/Points.png");
	-fx-background-size: 100% 100%;
}

#Level{
	-fx-background-image:url("StatsImages/Level.png");
	-fx-background-size: 100% 100%;
}

#Home{
	-fx-background-image:url("StatsImages/Mushroom.png");
	-fx-background-color: transparent;
	-fx-background-size: 100% 100%;
}

