/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#homeScr {
	-fx-background-image:url("../images/homeImages/home.jpg");
	-fx-background-size: 100% 100%;
}

#title {
	-fx-background-image:url("../images/homeImages/logo.jpg");
	-fx-background-size: 100% 100%;
}

#topScr {
	-fx-background-image:url("../images/homeImages/topScr.png");
	-fx-background-size: 100% 100%;
}

#bottomScr {
	-fx-background-image:url("../images/homeImages/bottomScr.jpg");
	-fx-background-size: 100% 100%;
}

#userLevel {
	-fx-background-color: white;
	-fx-text-fill: blue;
}

#hpBar {
	-fx-accent: red;
}

#xpBar {
	-fx-accent: green;
}

#statsBtn {
	-fx-background-image:url("../images/homeImages/stats.jpg");
	-fx-background-size: 100% 100%;
}

#manageTasksBtn {
	-fx-background-image:url("../images/homeImages/tasks.jpg");
	-fx-background-size: 100% 100%;
}

#logoutBtn {
	-fx-background-color: black;
	-fx-text-fill: white;
}

#quitBtn {
	-fx-background-color: black;
	-fx-text-fill: red;
}

#hpPointsLbl {
	-fx-background-color: red;
	-fx-text-fill: white;
}

#xpPointsLbl {
	-fx-background-color: lime;
	-fx-text-fill: black;
}

#taskListLbl {
	-fx-background-color: red;
}

#totalTasksLbl {
	-fx-background-color: red;
}