#taskInputAnchor{
    -fx-background-image: url("../images/smashbros.jpg");
    -fx-background-size: 100% 100%;
}

#homeButton{
    -fx-background-image: url("../images/wiiHomeButton.jpg");
    -fx-background-size: 100% 100%;
}

#hpProgess{
    -fx-accent: red;
}

#xpProgress{
    -fx-accent: blue;
}
